body {
    background-color: #34B2ED;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h1 {
    color: black;
    text-align: center;
}

.project img{
    width: 450px;
    height: 450px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: block;
    margin: auto;
}